.container{
    height: 100px;
    width: 100%;
    padding: 0px 40px;
    background-color:#266516; 
    position: absolute;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;
    
}

.slogan{
    font-size: 18px;
    position: absolute;
    left:41%;
    bottom: 40px;
}
.copyBaloo{
    font-size: 13px;
    position: absolute;
    left:48%;
    bottom: 20px;
}